body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.map-area {
  height: calc(100% - 46px);
  width: 100vw;
  position: relative;
}

.zoom-btn {
  z-index: 410;
  position: absolute;
  left: 10px;
  top: 75px;
}

.leaflet-map {
  z-index: 100;
}

.a-map {
  z-index: 90;
}

.absolute {
  position: absolute;
}

.bg-transparent {
  background-color: transparent;
}

.polygon-label {
  font-family: 黑体;
  font-weight: bold;
  text-align: center;
  /* color: #fff; */
}